<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImrPlatform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImrPlatform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IJirehFramework" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.10:8027/JirehService/PerfectNetworkCommunicationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJirehFramework"
                contract="JirehService.IJirehFramework" name="BasicHttpBinding_IJirehFramework" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ImrPlatform.Properties.Settings>
            <setting name="EndPointAddress" serializeAs="String">
                <value>http://192.168.0.10:8027/JirehService/PerfectNetworkCommunicationService.svc</value>
            </setting>
        </ImrPlatform.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ImrPlatform.Properties.Settings>
            <setting name="ID" serializeAs="String">
                <value />
            </setting>
            <setting name="PW" serializeAs="String">
                <value />
            </setting>
        </ImrPlatform.Properties.Settings>
    </userSettings>
</configuration>